
    @font-face {
        font-family: 'Proxima Nova Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Acumin Pro'), url('../fonts/ProximaNova-Regular.otf') ;
    }
    @font-face {
        font-family: 'Proxima Nova Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Proxima Nova Bold'), url('../fonts/Proxima Nova Bold.otf') ;
    }
        