  
body {
  
  margin: 0px;
  padding: 0px;
}
h1,h2,h3,h4,h5{
  margin-bottom: 0px;
}

a{
  text-decoration: none;    
}


.layout-container {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    padding: 70px 0px 0px 80px;
    width: 100%;
    height: calc(100vh - 0px);
  }
  
}

// custom buttons 
.c-button{
  background-color: $white;
  box-shadow: unset;
  border-radius: 100px;
  border-color: $primary;
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;

  > span {
    @include FontAxi(20,2,$primary);
  }
  
  &.large {
    height: 45px;
    width: 100%;
  }

  &:hover,&:focus{
    color: $white;
    border-color: $primary;
    background-color: $black;
    > span {
      color: $white;
    }
  }
  
  .icon {
    position: absolute;
    left: 15px;
    width: 22px;
    height: 22px;
  }

}



.ant-input {
  box-shadow: unset;
  border-radius: 10px;
  border: none;
  background-color: $light-gray;
  height: 40px;
  @include FontAxi(16,4,$black);
  padding: 10px 10px;

  input {
    &::placeholder{
      color: $gray;
    }
  }

}