$primary: #38BDFF;
$secondary: #1F2223;
$white: #ffffff;
$black: #000000;
$gray: #B9BCBD;
$light-gray:rgba(231, 239, 242,0.35);
$red:#FF6767;
$green:#57DAA1;
$orange:#FFBF52;
$primary-light:#EFF3F5;

$light-green:rgba(28, 197, 40,0.05);
$light-blue:rgba(7, 173, 255,0.1);
$light-red:rgba(249, 44, 44,0.1);

